name: Test

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      dind:
        image: docker:rc-dind-rootless
        ports:
          - 2375:2375    
    steps:
      - uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: stable

      - name: Lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.1
          args: --timeout=5m ./...

      - name: Test
        env:
          TEST_POSTGRES_DB: ${{ vars.TEST_POSTGRES_DB }}
          TEST_POSTGRES_USER: ${{ vars.TEST_POSTGRES_USER }}
          TEST_POSTGRES_PASSWORD: ${{ vars.TEST_POSTGRES_PASSWORD }}
        run: >
          TEST_POSTGRES_DB=${TEST_POSTGRES_DB}
          TEST_POSTGRES_USER=${TEST_POSTGRES_USER}
          TEST_POSTGRES_PASSWORD=${TEST_POSTGRES_PASSWORD}
          go test -race ./...
